.layout2AsideBox{
    img{
        width:100%;
    }
    .layout2AsideBoxText{
        h5{
            padding:10px 0;
        }

        .blogAsideList{
            list-style:none;
            padding-left:.5rem;
            li{
                // padding-left:5px;
                &::before{
                    content:'•';
                    padding-right:10px;
                    color:$colorGreenishCyan;
                }
            }
        }
    }
}

.wrapper{
    top:-15rem;
    .layout2MainBox{
        img{
            @include boxshadow(2rem, 2rem);
            width:calc(100% - 1rem);
            // matches width to lower section
            top:-50px;
        }
        .greenBorder{
            border-right: 5px solid $colorGreenishCyan;
            border-bottom: 5px solid $colorGreenishCyan;
        }
        .layout2MainContent {
            p{
                padding: 0px 0 20px 0;            
            }
        }
    }
    .blogComments{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        padding:0 0 0 calc(.01% * 1600);

        h5{
            color:$colorBlack;
            @include fontstyle(1.6rem, $fontCommentHeader, 32px, inherit, 700);
            margin:2.5rem 0;
        }

        .customerComment{
            display:flex;
            flex-direction: row;
            
            .commentText{
                display:flex;
                flex-direction: column;
                margin: -0.5rem 2.5rem 5rem 2.5rem;
                h6{
                    margin-bottom: 8px;
                }
            }
        }
    }
}

@media (max-width:1220px){
    .wrapper{
        .blogComments{
            width:135%;
            // padding:0;
        }
        .commentForm{
            max-width:100%;
        }
    }
}

@media (max-width:1040px){
    .layout2Container{
        background-color: $colorLightLightBlue;
        .layout2AsideBox{
            background-color: $colorIceBlue;
        }
        .wrapper{
            .layout2MainBox{
                border: solid 7px $colorGreenishCyan;
                background-color: $colorIceBlue;
                width:100%;
                img{
                    top:0;
                    width:100%;
                    box-shadow: none;
                }
                .greenBorder{
                    border:none;
                    p{
                        text-align: justify;
                    }
                }       
            }
            .blogComments{
                width:100%;
                padding:0;
                form{
                    background-color: $colorLightLightBlue;                   
                }
            }
        }
    }
}

@media (max-width:600px){
    .layout2Container{
        .wrapper{
            .layout2MainBox{
                border:none;
                .greenBorder {
                }
            }
            .blogComments{
                width:100%;
                // justify-content: center;
                align-items: center;
                padding:0;
                margin:0;
                .customerComment{
                    flex-direction: column;
                    // justify-content: center;
                    align-items: center;
                    .commentImg{
                        padding:10px;
                        img{
                            border-radius: 50%;
                        }
                    }
                    .commentText{
                        align-items: center;
                        margin: 1rem 13% 3rem 13%;
                        p{
                            text-align: justify;
                        }
                    }
                }
            }
        }
    }
}




