//GENERAL FORM STYLE, NOT PAGE SPECIFIC

form{
    display:flex;
    flex-direction: column;
    background-color: $colorIceBlue;

    input{
        @include hovereffect2;
        padding:1rem;
        border:none;
        border-bottom: 2px solid $colorGreenishCyan;
    }

    input::placeholder,
    textarea::placeholder{
        color:grey;
    }

    .commentBox,
    .contactBox{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 1rem;
        input[type=text],
        input[type=email]{
            width:47%;
            height:4rem;
        }                        
    }

    textarea{
        @include hovereffect2;
        margin:1.5rem 0;
        height:12rem;
        width:100%;
        resize:none;
        padding:1rem;
    }
}

@media (max-width:600px){
    form{
        input{
            border: 2px solid $colorGreenishCyan;
            margin-top:20px;
        }
        .commentBox,
        .contactBox{
            flex-direction: column;
            input[type=text],
            input[type=email]{
                width:100%;
            }
        }  
    }
}
