body{
    width:100%;
    max-width: 1600px;
    margin:0 auto;
    padding: 0 auto;
    background-color:$colorIceBlue;
}

.wrapper{
    width:80%;
    margin:0 auto;
}

ul{
    margin:0;
    padding:0;
    list-style: none;
}

a{
    text-decoration: none;
    color:inherit;
}

h3{
    color:$colorSpruce;
}

h3,
h4{
    @include fontstyle(35px, $fontBase, 58px, 3.8px, 700);
    margin-bottom:1rem;
}

h4,
h5{
    color:$colorTwilightBlue;
}

h5{
    @include fontstyle(1.5rem, $fontBase, 58px, 3.2px, 700);
}

.layout2AsideBox h5{
    color:$colorBlack;
}

h6{
    color: $colorTwilightBlue;
    @include fontstyle(1rem, $fontBase, 32px, 2px, 700);
}

p,
.layout2AsideBox .layout2AsideBoxText ul li a,
.layout2AsideBoxText ul li,
input,
textarea{
    color:$colorBlack;
    @include fontstyle(1rem, $fontBase, 32px, 2px, 400);
}

.layout2AsideBoxLink{
    color:$colorSpruce;
    @include fontstyle(1rem, $fontBase, 32px, 2px, 700);
}


section{
    margin-bottom: 4rem;
}

.noBotMargin{
    margin-bottom: 0;
}

.actionButton{
    display:inline-block;
    @include fontstyle(1rem, $fontFancy, 29px, 1px, 900);
    color: $colorIceBlue;
    background-color: $colorTwilightBlue;
    padding: 8px 14px;
    margin:10px 0;
    @include hovereffect2();
}


textarea{
    border: 2px solid $colorGreenishCyan;
}

//XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
// Fonts

// PlayfairDisplaySC, 
//     Black Italic,
//     111.2px,    34.6px,     20px
//     lh df,      df,         32px
//     ls df,      df,         1px
//   --900--

// Lato
//     Bold                                        Reg.    Light
//     fs 87px,    62px,   35px,   30px,   20px    20px    20px
//     lh 58px,    58px,   58px,   29px    29px    32px    32px
//     ls 9px,     6.7px,  3.8px,  3.2px   1px     2px     2px
//   --300 400 700--


// font-family: 'Lato', sans-serif;
// font-family: 'Playfair Display SC', serif;


// GREENISH CYAN
// #50E3C2 
// 80,227,194

// BLACK
// #232323
// 40,40,40

// ICE BLUE
// #FAFFFE
// 250, 255, 254

// TWILIGHT BLUE
// #063974
// 6, 57, 116

// LIGHT LIGHT BLUE
// #D2F9F1
// 210, 249, 241

// SPRUCE
// #0C5F4C
// 12, 95, 76

//XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX