//THIS PARTIAL DETERMINES BASIC LAYOUT FOR CONTACT AND BLOG

.layout2Container{
    display:flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    
    .layout2AsideBox{
        // width:23%;
        width:370px;
        min-width:370px;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: -2rem;

        .layout2AsideBoxText{
            display:flex;
            flex-direction: column;
            padding-right:12px;
        }
    }
    
    .wrapper{
        // width:77%;
        display:block;
        max-width:990px;
        // PROBLEMS MIGHT BE HERE????
        margin:0 15% -10rem 0;
        position:relative;

        .layout2MainBox{
            .layout2MainContent{
                position:relative;
                padding:35px 99px 0 calc(.01% * 1600);
                margin-top:-35px;
            }
        }
    }
}


@media (max-width:1220px){
    .layout2Container{
        .layout2MainBox{
            width:650px;
        }
        .wrapper{
            margin-right: 0;
        }
    }
}



@media (max-width:1040px){
    .layout2Container{
        flex-direction: column;
        align-items: center;
        .layout2AsideBox{
            flex-direction: column-reverse;
            height:100%;
            position:relative;
            display:block;

            margin:0;
            margin-top:-300px;
            border-top: solid 8px $colorGreenishCyan;
            border-right: solid 8px $colorGreenishCyan;
            border-left: solid 8px $colorGreenishCyan;
            border-bottom: solid 8px $colorIceBlue;
            top:8px;
            img{
            }
            .layout2AsideBoxText{
                padding-right:0;
                padding-bottom:20px;
                height:100%;
                align-items: center;
                p{
                    text-align: center;
                }
            }
        }
        .wrapper{
            display:flex;
            flex-direction: column;
            align-items: center;
            margin:0;
            padding:0;
            top:0;
            .layout2MainBox{
                .layout2MainContent{
                    margin:0;
                    padding:30px 15%;
                }
            }
        }
    }
}

@media (max-width:600px){
    main{
        background-color: $colorLightLightBlue;
        .layout2Container{
            position: relative;
            top: 200px;
            width:100%;
            .wrapper{
                width:100%;
                .layout2MainBox{
                    .layout2MainContent{
                        margin: 0;
                    }
                }
            }
        }
    }
}

