

header{
    @include backgroundspecs(no-repeat, auto, top center, 90vh, 840px, 600px);
    margin-bottom:7rem;

    h1{
        @include fontstyle(62px, $fontBase, inherit, 6.7px, 700);
        color:$colorSpruce;
        span{
            display:block;
            @include fontstyle(111.2px, $fontFancy, inherit, inherit, 900);
            color: $colorTwilightBlue;
            text-transform: uppercase;
        }
    }
}

.mainPageHeader{
    background-image: url(./assets/home-image-1.jpg);
    .headerContainer{
        position:relative;
        width:100%;
        height:100%;
        img{
            width:40%;
            position:absolute;
            left:0;
            bottom:0;
            z-index: 0;
        }
    }
    h1{
        display:inline-block;
        position:absolute;
        right: 15.5%;
        bottom:36%;
        z-index: 10;
        span{
            position:relative;
            right:3%;
        }
    }
}

// @mixin fontstyle ($fontSize, $fontFamily, $fontLineHeight, $fontLetterSpacing, $fontWeight){

.blogPageHeader{
    background-image: url(./assets/blog-image-1.jpg);
    h1{
        @include fontstyle(87px, $fontBase, 58px, 6.7px, 700);
        color:$colorIceBlue;
        display:inline-block;
        position:relative;
        left:10%;
        top:8rem;

    }
}

.contactPageHeader{
    background-image: url(./assets/contact-image-1.jpg);
}