.overlayJSClass{
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index: 200;
    color:#50E3C2;
    background-color: rgba(80, 227, 194, 0.5);
    display:flex;
    justify-content: center;
    align-items: center;

    img{
        height:40vw;
        filter: drop-shadow(0 0 40px fuchsia);
        border:solid fuchsia 5px;
    }
}

.mouseoverJSClassParent{
    padding-top:0;
    padding-bottom:0;
    transition: all 0.25s ease;
    .mainGalImgBox{
        width:calc(100%/4);
        img{
            object-fit: cover;
        }
    }
    .mouseoverJSClassChild{
        width:40%;
        height:100%;
    }
}