@mixin fontstyle ($fontSize, $fontFamily, $fontLineHeight, $fontLetterSpacing, $fontWeight){
    font-size: $fontSize;
    font-family: $fontFamily;
    line-height: $fontLineHeight;
    letter-spacing: $fontLetterSpacing;    
    font-weight: $fontWeight;
}

@mixin backgroundspecs ($brRepeat, $brSize, $brPos, $brHeight, $brMaxH, $brMinH){
    background-repeat: $brRepeat;
    background-size: $brSize;
    background-position: $brPos;
    height: $brHeight;
    max-height: $brMaxH;
    min-height: $brMinH;
}

@mixin boxshadow ($dropleft, $droptop){
    // filter: drop-shadow($dropleft $droptop 0 $colorGreenishCyan);
    box-shadow: $dropleft $droptop $colorGreenishCyan;
    width:100%;
    clip-path: inset(-1rem);
    position: relative;
  
}