@mixin fontstyle ($fontSize, $fontFamily, $fontLineHeight, $fontLetterSpacing, $fontWeight){
    font-size: $fontSize;
    font-family: $fontFamily;
    line-height: $fontLineHeight;
    letter-spacing: $fontLetterSpacing;    
    font-weight: $fontWeight;
}

@mixin backgroundspecs ($brRepeat, $brSize, $brPos, $brHeight, $brMaxH, $brMinH){
    background-repeat: $brRepeat;
    background-size: $brSize;
    background-position: $brPos;
    height: $brHeight;
    max-height: $brMaxH;
    min-height: $brMinH;
}

@mixin boxshadow ($dropleft, $droptop){
    // filter: drop-shadow($dropleft $droptop 0 $colorGreenishCyan);
    box-shadow: $dropleft $droptop $colorGreenishCyan;
    width:100%;
    clip-path: inset(-1rem);
    position: relative;
 
}

// @mixin fixedmenueffect (){
//     filter
// }

@mixin hovereffect (){
    background: radial-gradient(ellipse, rgba(12,95,76,.25), rgba(0,0,0,0));
    filter: drop-shadow(0 0 5px $colorBlack);
    transition-property: color, filter;
    transition-duration: 0.33s, 0.75s;
    &:hover{
        color:fuchsia;
        filter: drop-shadow(0 0 5px fuchsia);
    }
}

@mixin hovereffect2 (){
    transition-property: color, filter;
    transition-duration: 0.33s, 0.75s;
    &:hover{
        color:fuchsia;
        filter: drop-shadow(0 0 5px fuchsia);
    }
}