//FONT COLORS

$colorGreenishCyan: #50E3C2;
$colorBlack: #232323;
$colorIceBlue: #FAFFFE;
$colorTwilightBlue: #063974;
$colorLightLightBlue:#D2F9F1;
$colorSpruce: #0C5f4C;

//FONT FAMILY
$fontBase: 'Lato', 'sans-serif'; 
$fontFancy: 'Playfair Display SC', serif;
