@charset "UTF-8";
/*----------SETUP----------*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display+SC:ital,wght@1,900&family=Josefin+Sans:wght@700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*--------END SETUP--------*/
* {
  margin: 0;
  padding: 0;
}

html {
  padding: 0 auto;
  margin: 0 auto;
  font-size: 120%;
  background-color: black;
}

body {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #FAFFFE;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  color: #0C5f4C;
}

h3,
h4 {
  font-size: 35px;
  font-family: "Lato", "sans-serif";
  line-height: 58px;
  letter-spacing: 3.8px;
  font-weight: 700;
  margin-bottom: 1rem;
}

h4,
h5 {
  color: #063974;
}

h5 {
  font-size: 1.5rem;
  font-family: "Lato", "sans-serif";
  line-height: 58px;
  letter-spacing: 3.2px;
  font-weight: 700;
}

.layout2AsideBox h5 {
  color: #232323;
}

h6 {
  color: #063974;
  font-size: 1rem;
  font-family: "Lato", "sans-serif";
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 700;
}

p,
.layout2AsideBox .layout2AsideBoxText ul li a,
.layout2AsideBoxText ul li,
input,
textarea {
  color: #232323;
  font-size: 1rem;
  font-family: "Lato", "sans-serif";
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 400;
}

.layout2AsideBoxLink {
  color: #0C5f4C;
  font-size: 1rem;
  font-family: "Lato", "sans-serif";
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 700;
}

section {
  margin-bottom: 4rem;
}

.noBotMargin {
  margin-bottom: 0;
}

.actionButton {
  display: inline-block;
  font-size: 1rem;
  font-family: "Playfair Display SC", serif;
  line-height: 29px;
  letter-spacing: 1px;
  font-weight: 900;
  color: #FAFFFE;
  background-color: #063974;
  padding: 8px 14px;
  margin: 10px 0;
}

input {
  border: none;
  border-bottom: 2px solid #50E3C2;
}

textarea {
  border: 2px solid #50E3C2;
}

.layout2Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.layout2Container .layout2AsideBox {
  width: 370px;
  min-width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: -2rem;
}
.layout2Container .layout2AsideBox .layout2AsideBoxText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 12px;
}
.layout2Container .wrapper {
  display: block;
  max-width: 990px;
  margin: 0 15% -10rem 0;
  position: relative;
}
.layout2Container .wrapper .layout2MainBox .layout2MainContent {
  position: relative;
  padding: 35px 99px 0 calc(.01% * 1600);
  margin-top: -35px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FAFFFE;
}
form input {
  padding: 1rem;
}
form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
  color: grey;
}
form input::-moz-placeholder, form textarea::-moz-placeholder {
  color: grey;
}
form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  color: grey;
}
form input::-ms-input-placeholder, form textarea::-ms-input-placeholder {
  color: grey;
}
form input::placeholder,
form textarea::placeholder {
  color: grey;
}
form .commentBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1rem;
}
form .commentBox input[type=text],
form .commentBox input[type=email] {
  width: 47%;
  height: 4rem;
}
form textarea {
  margin: 1.5rem 0;
  height: 12rem;
  width: 100%;
  resize: none;
  padding: 1rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav h2 {
  font-size: 1.73rem;
  font-family: "Playfair Display SC", serif;
  line-height: inherit;
  letter-spacing: inherit;
  font-weight: 700;
  text-transform: uppercase;
  color: #50E3C2;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
header nav ul li {
  font-size: inherit;
  font-family: "Lato", "sans-serif";
  line-height: 29px;
  letter-spacing: 1px;
  font-weight: 900;
  text-transform: uppercase;
  color: #FAFFFE;
  margin: 25px;
}
header nav ul .currentPage {
  color: #50E3C2;
}

header {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top center;
  height: 90vh;
  max-height: 840px;
  min-height: 600px;
  margin-bottom: 7rem;
}
header h1 {
  font-size: 62px;
  font-family: "Lato", "sans-serif";
  line-height: inherit;
  letter-spacing: 6.7px;
  font-weight: 700;
  color: #0C5f4C;
}
header h1 span {
  display: block;
  font-size: 111.2px;
  font-family: "Playfair Display SC", serif;
  line-height: inherit;
  letter-spacing: inherit;
  font-weight: 900;
  color: #063974;
  text-transform: uppercase;
}

.mainPageHeader {
  background-image: url(./assets/home-image-1.jpg);
}
.mainPageHeader .headerContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.mainPageHeader .headerContainer img {
  width: 40%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}
.mainPageHeader h1 {
  display: inline-block;
  position: absolute;
  right: 15.5%;
  bottom: 36%;
  z-index: 10;
}
.mainPageHeader h1 span {
  position: relative;
  right: 3%;
}

.blogPageHeader {
  background-image: url(./assets/blog-image-1.jpg);
}

.contactPageHeader {
  background-image: url(./assets/contact-image-1.jpg);
}

.blogPageHeader,
.contactPageHeader {
  max-height: 600px;
}
.blogPageHeader h1,
.contactPageHeader h1 {
  font-size: 87px;
  font-family: "Lato", "sans-serif";
  line-height: 58px;
  letter-spacing: 6.7px;
  font-weight: 700;
  color: #FAFFFE;
  display: inline-block;
  position: relative;
  left: 10%;
  top: 8rem;
}

.mainVisitBox {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainVisitBox .mainVisitText {
  width: 61%;
}
.mainVisitBox .mainVisitImg {
  width: 25%;
}
.mainVisitBox .mainVisitImg img {
  -webkit-box-shadow: -1rem 1rem #50E3C2;
          box-shadow: -1rem 1rem #50E3C2;
  width: 100%;
  -webkit-clip-path: inset(-1rem);
          clip-path: inset(-1rem);
  position: relative;
}

.galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #D2F9F1;
  padding: 5% 10%;
}
.galleryContainer .mainGalImgBox {
  width: calc(100%/3);
}
.galleryContainer .mainGalImgBox img {
  width: 100%;
  height: 100%;
}
.galleryContainer .mainGalImg2 {
  margin: 0 2%;
}

.forwards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.forwards article {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 2rem;
}
.forwards article span {
  color: #FAFFFE;
  font-size: 30px;
}
.forwards article span .fa-circle {
  color: #50E3C2;
}
.forwards article .mainArticleText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  padding-left: 3%;
}
.forwards article .mainArticleText h3 {
  margin: 0;
}

.mainDiscoverContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #D2F9F1;
}
.mainDiscoverContainer .mainDiscoverBox {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mainDiscoverContainer .mainDiscoverText {
  width: 100%;
}
.mainDiscoverContainer .mdText1 {
  padding-right: 20%;
}
.mainDiscoverContainer .mdText2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 20%;
}
.mainDiscoverContainer .mdText2 p {
  text-align: end;
}
.mainDiscoverContainer .mainDiscoverImg .image1 {
  top: calc(-2rem - 8px);
  -webkit-box-shadow: 2rem 2rem #50E3C2;
          box-shadow: 2rem 2rem #50E3C2;
  width: 100%;
  -webkit-clip-path: inset(-1rem);
          clip-path: inset(-1rem);
  position: relative;
}
.mainDiscoverContainer .mainDiscoverImg .image2 {
  top: 2rem;
  -webkit-box-shadow: -2rem 2rem #50E3C2;
          box-shadow: -2rem 2rem #50E3C2;
  width: 100%;
  -webkit-clip-path: inset(-1rem);
          clip-path: inset(-1rem);
  position: relative;
}

.mainBanner {
  background-image: url(./assets/banner-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 57vh;
  max-height: 500px;
  min-height: 0px;
  width: 100%;
}

.freetripContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.freetripContainer p {
  margin-bottom: 10px;
}

.layout2AsideBox img {
  width: 100%;
}
.layout2AsideBox .layout2AsideBoxText h5 {
  padding: 10px 0;
}
.layout2AsideBox .layout2AsideBoxText .blogAsideList {
  list-style: none;
  padding-left: 0.5rem;
}
.layout2AsideBox .layout2AsideBoxText .blogAsideList li::before {
  content: "•";
  padding-right: 10px;
  color: #50E3C2;
}

.wrapper {
  top: -15rem;
}
.wrapper .layout2MainBox img {
  -webkit-box-shadow: 2rem 2rem #50E3C2;
          box-shadow: 2rem 2rem #50E3C2;
  width: 100%;
  -webkit-clip-path: inset(-1rem);
          clip-path: inset(-1rem);
  position: relative;
  width: calc(100% - 1rem);
  top: -50px;
}
.wrapper .layout2MainBox .greenBorder {
  border-right: 5px solid #50E3C2;
  border-bottom: 5px solid #50E3C2;
}
.wrapper .blogComments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 0 0 calc(.01% * 1600);
}
.wrapper .blogComments h5 {
  color: #232323;
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  line-height: 32px;
  letter-spacing: inherit;
  font-weight: 700;
  margin: 2.5rem 0;
}
.wrapper .blogComments .customerComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.wrapper .blogComments .customerComment .commentText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -0.5rem 2.5rem 5rem 2.5rem;
}
.wrapper .blogComments .customerComment .commentText h6 {
  margin-bottom: 8px;
}

.contactIconBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}
.contactIconBox i {
  width: 1.3rem;
  margin-right: 1.5rem;
  font-size: 1.5rem;
  color: black;
}

.contactFormBorder {
  -webkit-box-shadow: 4rem 4rem #50E3C2;
          box-shadow: 4rem 4rem #50E3C2;
  margin-bottom: 4rem;
}
.contactFormBorder form {
  -webkit-box-shadow: 0px 0px 0px 3rem #FAFFFE;
          box-shadow: 0px 0px 0px 3rem #FAFFFE;
}

footer {
  width: 100%;
  background-color: #232323;
}
footer p {
  color: #FAFFFE;
  text-align: center;
  padding: 5px;
}